@import '../common.scss';

.marker {
  width: 20px;
  height: 12px;
  border-radius: 2px;
  border: solid 2px #ffffff;
  box-sizing: border-box;
  display: inline-block;
  vertical-align: middle;
}

.label {
  @include FontRoman();
  font-size: 14px;
  margin-left: 6px;
  vertical-align: middle;
  line-height: 24px;
}
